@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
}

.profile__avatar {
  position: relative;
}

.profile__avatar::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  z-index: 1;
  opacity: 0.8;
  position: absolute;
}

.profile__avatar:hover::after {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-align: right;
  white-space: nowrap;
  background-image: url(/src/images/edit-icon.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 38%;
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}
